div {
    text-align:center;
    height: 70%;
    width: 100%;
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 6px rgba(76, 71, 69, 0.56);
    -webkit-border-radius: 12px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, white), color-stop(15%, white), color-stop(100%, #c3bfaf));
    background: -moz-linear-gradient(top, white 0%, white 55%, #b3b9a5 130%);
}

body {
    background-color: #000000;
}

table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #D3D3D3;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #D3D3D3;
}

a {
    background-color: #1fa100;
    border: 0;
    color: #ffffd4;
    padding: 10px 20px;
    text-decoration: none;
}

a:hover{
    background: #e6ff07;
    color: #feff98;
    text-decoration: none;
}