a:link, a:visited{
    background-color: #ffb601;
    color: #606060;
    width: 67%;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0;
}

a:hover, a:active {
    background-color: #fcaf67;
}

.field {
    padding:8px 31px;
    right:1px;
    background: rgba(255, 252, 0, 0.44);
    border:0px solid #dbdbdb;
}
.button {
    position:relative;
    padding:6px 94px;
    right: 0px;
    border:2px solid #cac800;
    background-color:#cac800;
    color:#fafafa;
}
.button:hover {
    background-color:#fafafa;
    color:#cac800;
}

.log {
    position:absolute;
    text-align: center;
    top:50%;
    left:50%;
    margin:-100px 0 0 -200px;
    width:340px;
    height:200px;
    padding:30px;
    border-radius:10px;
    background-color: #dbd8c7;
}
body {
    background-color: black;
}

div {
    background-color: red;
}