.search {
    padding:8px 30px;
    background: rgba(255, 252, 0, 0.44);
    border:0px solid #dbdbdb;
}
.button, #search, #rating {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #cac800;
    background-color:#cac800;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
color:#cac800;
}

#search{
    width:350px;
    height:30px;
    position:relative;
    top:50px;
    left:51%;
    margin-left:-60px;
}

#rating{
    width:350px;
    height:30px;
    position:relative ;
    top:10px;
    left:29%;
    margin-left:-60px;
}

.modal-shadow{
     position:absolute;
     top:0;
     right:0;
     bottom:0;
     left:0;
     background:#000;
     opacity:0.5;
     display:none;
 }
.modal-window{
    position:absolute;
    top:50%;
    left:50%;
    margin:-100px 0 0 -200px;
    width:340px;
    height:200px;
    padding:30px;
    border-radius:10px;
    display:none;
    background:#fff;
}
.close{
    position:absolute;
    top:5px;
    right:5px;
    width:20px;
    height:20px;
    border-radius:3px;
    cursor:pointer;
    text-align:center;
    color:#fff;
    font:normal 14px/20px Arial, Helvetica, sans-serif;
    background:#555;
}

.modal-shadow2{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:#000;
    opacity:0.5;
    display:none;
}
.modal-window2{
    position:absolute;
    top:50%;
    left:50%;
    margin:-100px 0 0 -200px;
    width:340px;
    height:140px;
    padding:30px;
    border-radius:10px;
    display:none;
    background:#fff;
}
.close2{
    position:absolute;
    top:5px;
    right:5px;
    width:20px;
    height:20px;
    border-radius:3px;
    cursor:pointer;
    text-align:center;
    color:#fff;
    font:normal 14px/20px Arial, Helvetica, sans-serif;
    background:#555;
}