.href:link, .href:visited{
    alingn: center;
    border: 0;
    color: #353534;
    padding: 20px 40px;
    width: 25%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient(rgb(78, 52, 0), rgba(255, 215, 0, 0.89));
    border-radius: 20px/60px;
}

.href:hover {
    background: #ffcd6d;
    color: #ff6700;
    text-decoration: none;
}

.div {
    padding: 20px 10px;
    background: #221f1e;
    text-align: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, #000000), color-stop(15%, #3b3b3b), color-stop(100%, rgba(155, 161, 149, 0.56)));
    background: -moz-linear-gradient(top, #000000 0%, white 55%, rgba(154, 152, 136, 0.65) 130%);
}

body {
    background: #000000;
    color: rgba(44, 44, 44, 0.73);
    word-wrap: break-word;
    text-align: center;
}