table, td, th {
    border: 1px solid #919191;
    text-align: center;
}

.lap {
    background: rgba(55, 217, 48, 0.68);
}

.penalty {
    background: rgba(255, 64, 49, 0.62);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

.button {
    background-color: #ffb601;
    color: #606060;
    width: 20%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0;
}