<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/citySearch.css" rel="stylesheet" type="text/css"/>
    <title>Архив змагань</title>
</head>
<body>
<h2 align="center">Архив змагань:</h2>
<table width="30%">
    <tr th:each="competition : ${competitions}">
        <th th:text="${competition.date}"/>
        <th th:text="${competition.competitionCity}"/>
        <th th:text="${competition.competitionName}"/>
        <th><a th:attr="href='/competition/' + ${competition.id} + '/general/result'">результати змагання</a></th>
        <th><a th:attr="href='/comment/' + ${competition.id} + '/show' ">коментарі до гонки</a></th>
        <th><a th:attr="href='/' + ${competition.id} + '/downloadPdf' ">результати в PDF</a></th>
        <th>
            <form th:action="@{|/${competition.id}/downloadDoc|}" method='post'>
                <input type="submit" value="скачати MS Word"/>
            </form>
        </th>
    </tr>
</table>
<p></p>
<a href="/">На головну</a>
</body>
</html>