<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/citySearch.css" rel="stylesheet" type="text/css"/>
    <title>Коментарі</title>
</head>
<body>
<h2 align="center">Коментарі:</h2>

<a href="/">На головну сторінку</a>

<div sec:authorize="isAuthenticated()">

    <form method="post" id="comment" th:action="@{|/comment/${competitionId}/add|}">
        <textarea cols="100" rows="8" form="comment" name="text" placeholder="залишити коментар..."/>
        <p></p>
        <input type="submit" value="відправити"/>
    </form>

</div>
<p></p>
<p></p>
<table>
    <tr th:each="comment : ${comments}">
        <td>
            <lu>
                <li th:text="${comment.commentDate}"/>
                <li th:text="${comment.text}"/>
            </lu>
        </td>
        <td sec:authorize="hasAuthority('ADMIN')">
            <form th:id="${comment.id}" th:method="post" th:action="@{|/comment/${comment.id}/delete|}">
                <input th:form="${comment.id}" type="submit" value="видалити"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>