<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Головне змагання</title>
    <script src="/lib/jquery-3.1.1.js"></script>
    <script src="/js/generalCompetition.js"></script>
    <link href="/css/panel.css" rel="stylesheet" type="text/css"/>
    <link href="/css/linkStyle.css" rel="stylesheet" type="text/css"/>
    <link href="/css/inputWithoutBorder.css" rel="stylesheet" type="text/css"/>
    <link href="/css/generalCompetitionTable.css" rel="stylesheet" type="text/css"/>
    <script>
        $(document).ready(function () {
            $("#flip").click(function () {
                $("#panel").slideToggle("slow");
            });
        });
    </script>
</head>
<body>
<div align="center" th:background="grey">
    <h3>
        <span th:text="${date}" th:remove="tag"></span>
        <span th:text="${raceName}" th:remove="tag"></span>
        <input type="hidden" name="competition_id" th:value="${competitionId}"/>
    </h3>
    <h2>ГОЛОВНЕ ЗМАГАННЯ</h2>
</div>
<p></p>
<div id="flip">Додати участників до заїзду</div>
<div id="panel">
    <table width="60%" align="center">
        <tr th:each="driver, iter : ${drivers}">
            <th th:text="${iter.count}">1</th>
            <th th:text="${driver.name}"/>
            <th th:text="${driver.surname}"/>
            <th width="15%"><a href="#" class="get_driver" onclick="deleteRow(this);">додати</a></th>
            <th><input type="hidden" name="id" th:value="${driver.id}"/></th>
        </tr>
    </table>
</div>

<table class="table">
    <tr>
        <td width="15">Класс</td>
        <td width="15%">Прізвище водія</td>
        <td width="10%">Ім'я водія</td>
        <td width="5%">Номер</td>
        <td width="10%">Автомобіль</td>
        <th width="25%" colspan="4">заїзд</th>
        <th width="20%"></th>
    </tr>
    <tbody id="general_table"></tbody>

</table>

<form th:action="@{|/competition/${competitionId}/general/result|}">
    <input type="submit" value="Результати змагання"/>
</form>
</body>
</html>