<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/tabs.css" rel="stylesheet" type="text/css"/>
    <link href="/css/tableResult.css" rel="stylesheet" type="text/css"/>
    <script src="/lib/jquery-3.1.1.js"></script>
    <script src="/js/archive.js"></script>

    <title>Результати</title>

</head>
<body>
<div class="section">

    <ul class="tabs">
        <li class="current">CТАНДАРТ</li>
        <li>СПОРТ ПЕРЕДНІЙ</li>
        <li>СПОРТ ЗАДНІЙ</li>
        <li>ЗАГАЛЬНИЙ</li>
    </ul>


    <table class="box">
        <tr>
            <th>Місце</th>
            <th>Прізвище Ім'я</th>
            <th>Номер</th>
            <th>Марка автомобіля</th>
            <th class="lap">1-й заїзд</th>
            <td class="penalty">Фішка борт</td>
            <td class="penalty">Фішка фронт</td>
            <td class="penalty">Фальстарт</td>
            <th class="lap">2-й заїзд</th>
            <td class="penalty">Фішка борт</td>
            <td class="penalty">Фішка фронт</td>
            <td class="penalty">Фальстарт</td>
            <th class="lap">3-й заїзд</th>
            <td class="penalty">Фішка борт</td>
            <td class="penalty">Фішка фронт</td>
            <td class="penalty">Фальстарт</td>
            <th class="lap">Результат</th>
        </tr>
        <th:block th:each="driver1, iter : ${standard}">
            <tr>
                <td th:text="${iter.count}"></td>
                <td th:text="${driver1.driverName}"></td>
                <td th:text="${driver1.driverNumber}"></td>
                <td th:text="${driver1.driverCarMark}"></td>
                <td th:text="${driver1.firstLap}"></td>
                <td th:text="${driver1.lap1ChipBoard}"></td>
                <td th:text="${driver1.lap1ChipFront}"></td>
                <td th:text="${driver1.lap1FalseStart}"></td>
                <td th:text="${driver1.secondLap}"></td>
                <td th:text="${driver1.lap2ChipBoard}"></td>
                <td th:text="${driver1.lap2ChipFront}"></td>
                <td th:text="${driver1.lap2FalseStart}"></td>
                <td th:text="${driver1.thirdLap}"></td>
                <td th:text="${driver1.lap3ChipBoard}"></td>
                <td th:text="${driver1.lap3ChipFront}"></td>
                <td th:text="${driver1.lap3FalseStart}"></td>
                <td th:text="${driver1.average}"></td>
            </tr>
        </th:block>
    </table>
    <table class="box">
        <tr>
            <th>Місце</th>
            <th>Прізвище Ім'я</th>
            <th>Номер</th>
            <th>Марка автомобіля</th>
            <th class="lap">1-й заїзд</th>
            <td class="penalty">Фішка борт</td>
            <td class="penalty">Фішка фронт</td>
            <td class="penalty">Фальстарт</td>
            <th class="lap">2-й заїзд</th>
            <td class="penalty">Фішка борт</td>
            <td class="penalty">Фішка фронт</td>
            <td class="penalty">Фальстарт</td>
            <th class="lap">3-й заїзд</th>
            <td class="penalty">Фішка борт</td>
            <td class="penalty">Фішка фронт</td>
            <td class="penalty">Фальстарт</td>
            <th class="lap">Результат</th>
        </tr>
        <th:block th:each="driver, iter : ${front}">
            <tr>
                <td th:text="${iter.count}"></td>
                <td th:text="${driver.driverName}"></td>
                <td th:text="${driver.driverNumber}"></td>
                <td th:text="${driver.driverCarMark}"></td>
                <td th:text="${driver.firstLap}"></td>
                <td th:text="${driver.lap1ChipBoard}"></td>
                <td th:text="${driver.lap1ChipFront}"></td>
                <td th:text="${driver.lap1FalseStart}"></td>
                <td th:text="${driver.secondLap}"></td>
                <td th:text="${driver.lap2ChipBoard}"></td>
                <td th:text="${driver.lap2ChipFront}"></td>
                <td th:text="${driver.lap2FalseStart}"></td>
                <td th:text="${driver.thirdLap}"></td>
                <td th:text="${driver.lap3ChipBoard}"></td>
                <td th:text="${driver.lap3ChipFront}"></td>
                <td th:text="${driver.lap3FalseStart}"></td>
                <td th:text="${driver.average}"></td>
            </tr>
        </th:block>
    </table>

    <table class="box">
        <tr>
            <th>Місце</th>
            <th>Прізвище Ім'я</th>
            <th>Номер</th>
            <th>Марка автомобіля</th>
            <th class="lap">1-й заїзд</th>
            <td class="penalty">Фішка борт</td>
            <td class="penalty">Фішка фронт</td>
            <td class="penalty">Фальстарт</td>
            <th class="lap">2-й заїзд</th>
            <td class="penalty">Фішка борт</td>
            <td class="penalty">Фішка фронт</td>
            <td class="penalty">Фальстарт</td>
            <th class="lap">3-й заїзд</th>
            <td class="penalty">Фішка борт</td>
            <td class="penalty">Фішка фронт</td>
            <td class="penalty">Фальстарт</td>
            <th class="lap">Результат</th>
        </tr>
        <th:block th:each="driver, iter : ${rear}">
            <tr>
                <td th:text="${iter.count}"></td>
                <td th:text="${driver.driverName}"></td>
                <td th:text="${driver.driverNumber}"></td>
                <td th:text="${driver.driverCarMark}"></td>
                <td th:text="${driver.firstLap}"></td>
                <td th:text="${driver.lap1ChipBoard}"></td>
                <td th:text="${driver.lap1ChipFront}"></td>
                <td th:text="${driver.lap1FalseStart}"></td>
                <td th:text="${driver.secondLap}"></td>
                <td th:text="${driver.lap2ChipBoard}"></td>
                <td th:text="${driver.lap2ChipFront}"></td>
                <td th:text="${driver.lap2FalseStart}"></td>
                <td th:text="${driver.thirdLap}"></td>
                <td th:text="${driver.lap3ChipBoard}"></td>
                <td th:text="${driver.lap3ChipFront}"></td>
                <td th:text="${driver.lap3FalseStart}"></td>
                <td th:text="${driver.average}"></td>
            </tr>
        </th:block>
    </table>

    <table class="box">
        <tr>
            <th>Місце</th>
            <th>Прізвище Ім'я</th>
            <th>Номер</th>
            <th>Марка автомобіля</th>
            <th class="lap">1-й заїзд</th>
            <td class="penalty">Фішка борт</td>
            <td class="penalty">Фішка фронт</td>
            <td class="penalty">Фальстарт</td>
            <th class="lap">2-й заїзд</th>
            <td class="penalty">Фішка борт</td>
            <td class="penalty">Фішка фронт</td>
            <td class="penalty">Фальстарт</td>
            <th class="lap">3-й заїзд</th>
            <td class="penalty">Фішка борт</td>
            <td class="penalty">Фішка фронт</td>
            <td class="penalty">Фальстарт</td>
            <th class="lap">Результат</th>
        </tr>
        <th:block th:each="item, iter : ${absolute}">
            <tr>
                <td th:text="${iter.count}"></td>
                <td th:text="${item.driverName}"></td>
                <td th:text="${item.driverNumber}"></td>
                <td th:text="${item.driverCarMark}"></td>
                <td th:text="${item.firstLap}"></td>
                <td th:text="${item.lap1ChipBoard}"></td>
                <td th:text="${item.lap1ChipFront}"></td>
                <td th:text="${item.lap1FalseStart}"></td>
                <td th:text="${item.secondLap}"></td>
                <td th:text="${item.lap2ChipBoard}"></td>
                <td th:text="${item.lap2ChipFront}"></td>
                <td th:text="${item.lap2FalseStart}"></td>
                <td th:text="${item.thirdLap}"></td>
                <td th:text="${item.lap3ChipBoard}"></td>
                <td th:text="${item.lap3ChipFront}"></td>
                <td th:text="${item.lap3FalseStart}"></td>
                <td th:text="${item.average}"></td>
            </tr>
        </th:block>
    </table>
</div>

<th:block th:each="competition : ${activeCompetitions}">
    <th:block th:if="${competition.id} == ${competitionId}">
        <form method="post" th:action="@{|/competition/${competitionId}/close|}">
            <input class="button" type="submit" value="Закінчити змагання"/>
        </form>
    </th:block>
</th:block>
<p> </p>
<form action="/">
    <input class="button" type="submit" value="На головну"/>
</form>

</body>
</html>