<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <link href="/css/start.css" rel="stylesheet" type="text/css"/>
    <link href="/css/search.css" rel="stylesheet" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/lib/jquery-3.1.1.js"></script>
    <script src="/js/search.js"></script>

</head>
<body>

<a href="/login">вхід</a>
<a th:href="@{/logout}">вихід</a>

<th:block th:each="competition : ${competitions}">
    <div  sec:authorize="hasAuthority('ADMIN')" class="div">
        <a class="href" th:attr="href='/competition/' + ${competition.id} + '/qualification'">
            Продовжити гонку: "
            <th:block th:text="${competition.competitionName}"></th:block>
            "</a>
    </div>
</th:block>
<div sec:authorize="hasAuthority('ADMIN')" class="div">
    <a class="href"  href="/competition/new">Створити нове змагання</a>
</div>
<div class="div">
    <a class="href"  href="/competition/archive">Продивитись архив</a>
</div>

<button id="search">Пошук</button>


<div class="modal-shadow"></div>
<div class="modal-window">
    <div class="close">X</div>
    <form action="/competition/search">
        <input class="search" type="text" name="city" placeholder="Пошук по місту..."/>
        <input class="button" type="submit" value="пошук"/>
    </form>
    <p></p>
    <form action="/driver/search/surname">
        <input class="search" type="text" name="driverSurname" placeholder="Пошук по фамілії..."/>
        <input class="button" type="submit" value="пошук"/>
    </form>
    <p></p>
    <form id="date" action="/competition/date/search">
        <p>Пошук по даті:</p>
        від <input form="date" class="search" size="6" type="date" name="dateFrom"/> числа
        <p></p>
        до <input form="date" class="search" size="6" type="date" name="dateBefore"/>
        <input form="date" class="button" type="submit" value="пошук"/>
    </form>
</div>

<button id="rating">Рейтинги</button>
<div class="modal-shadow2"></div>
<div class="modal-window2">
    <div class="close2">X</div>
    <form id="rating_drivers" action="/driver/rating">
        <input form="rating_drivers" class="button" type="submit" value="ТОП 10 за кількістью змагань у сезоні"/>
    </form>
    <p></p>
    <form id="fast" action="/competition/top/fast">
        <input form="fast" class="button" type="submit" value="ТОП 10 найшвидших змагань у сезоні"/>
    </form>
</div>
<div sec:authorize="hasAuthority('ADMIN')">
<a href="/user/all">зареєстровані користувачі</a>
</div>
</body>
</html>