<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Результат</title>
</head>
<body>
<div align="center">
    <h3>
        <span th:text="${date}" th:remove="tag"></span>
        <span th:text="${raceName}" th:remove="tag"></span>
        <input type="hidden" name="competition_id" th:value="${competitionId}"/>
    </h3>
    <h2>КВАЛІФІКАЦІЯ</h2>
    <h3>Результат заїзду</h3>
</div>
<table width="60%" align="center">
    <tr th:each="driver, iter : ${drivers}">
        <td th:text="${iter.count}">1</td>
        <td th:text="${driver.carCategory}"/>
        <td th:text="${driver.name}"/>
        <td th:text="${driver.surname}"/>
        <td th:text="${driver.number}"/>
        <td th:text="${driver.carMark}"/>
        <th:block th:each="lap : ${driver.laps}">
        <td th:if="${lap.lapNumber eq 0}" th:text="${lap.time}"/>
        </th:block>
    </tr>
</table>
<form th:action="@{|/competition/${competitionId}/general|}">
    <input type="submit" value="Перейти до головного змагання"/>
</form>
</body>
</html>