<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Кваліфікація</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/panel.css" rel="stylesheet" type="text/css"/>
    <link href="/css/linkStyle.css" rel="stylesheet" type="text/css"/>
    <link href="/css/qualificationFields.css" rel="stylesheet" type="text/css"/>
    <link href="/css/inputWithoutBorder.css" rel="stylesheet" type="text/css"/>
    <link href="/css/table.css" rel="stylesheet" type="text/css"/>

    <script src="/lib/jquery-3.1.1.js"></script>
    <script src="/js/qualification.js"></script>
    <script src="/js/action.js"></script>
</head>
<script>
    $(document).ready(function () {
        $("#flip").click(function () {
            $("#panel").slideToggle("slow");
        });
    });

</script>
<body>
<div align="center">
    <h3>
        <span th:text="${date}" th:remove="tag"></span>
        <span th:text="${raceName}" th:remove="tag"></span>
        <input type="hidden" name="competition_id" th:value="${competitionId}"/>
    </h3>
    <h2>КВАЛІФІКАЦІЯ</h2>
</div>
<div id="flip">Додати участників заїзду</div>
<div id="panel">

    <form id="form">
        Категорія <select class="field" id="select">
        <option value="СТАНДАРТ">СТАНДАРТ</option>
        <option value="СПОРТ ПЕРЕДНІЙ">СПОРТ ПЕРЕДНІЙ</option>
        <option value="СПОРТ ЗАДНІЙ">СПОРТ ЗАДНІЙ</option>
    </select>
        <input form="form" class="field" type="text" size="10" placeholder="Автомобіль" name="mark"/>
        <input form="form" class="field" type="text" size="10" placeholder="Им'я водія " name="name"/>
        <input form="form" class="field" type="text" size="10" placeholder="Прізвище водія" name="surname"/>
        <input form="form" class="field" type="text" placeholder="Номер" name="number" size="2"/>
    </form>
    <p></p>
    <button id="add_driver">Додати до таблиці</button>
</div>
<table width="60%" id="drivers_table">
    <thead>
    <tr>
        <th width="10">Класс</th>
        <th width="15%">Прізвище водія</th>
        <th width="15%">Ім'я водія</th>
        <th width="10%">Номер</th>
        <th width="10%">Автомобіль</th>
        <th width="40%" colspan="2"></th>
    </tr>
    </thead>
    <tbody id="driver"></tbody>
</table>
<p></p>
<button id="list_drivers">Розпочати кваліфікаційний заїзд"</button>
</body>
</html>