<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/bySurnameSearch.css" rel="stylesheet" type="text/css"/>
    <title>Результати пошуку</title>
</head>
<body>
<h2 align="center">Результат пошуку:</h2>
<table width="30%">
    <tr th:each="driver : ${drivers}">
        <th th:text="${driver.surname}"/>
        <th th:text="${driver.name}"/>
        <th>
            <form th:class="${driver.id}" th:action="@{|/competition/by/driver/search/|}">
                <input th:class="${driver.id}" type="hidden" name="driverSurname" th:value="${driver.surname}"/>
                <input id="button" th:class="${driver.id}" type="submit" value="переглянути змагання з водієм"/>
            </form>
        </th>
    </tr>
</table>
</body>
</html>