<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/topFrequentDrivers.css" rel="stylesheet" type="text/css"/>
    <title>ТОП 10</title>
    <div>
        <h2>ТОП 10 УЧАСТНИКІВ ЗА КІЛЬКІСТ'Ю ЗМАГАНЬ У СЕЗОНІ:</h2>
        <table align="center">
            <tr>
                <td>топ</td>
                <td>Прізвище</td>
                <td>Им'я</td>
                <td>кількість змагань</td>
            </tr>
            <tr th:each="driver, iter : ${drivers}">
                <td th:text="${iter.count}"/>
                <td th:text="${driver.driverSurname}"/>
                <td th:text="${driver.driverName}"/>
                <td th:text="${driver.quantityCompetition}"/>
            </tr>
        </table>
        <p> </p>
        <a href="/">На головну сторінку</a>
    </div>
</head>
<body>

</body>
</html>