<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/fastCompetitionSeason.css" rel="stylesheet" type="text/css"/>
    <title>ТОП 10</title>
    <div>
        <h2>ТОП 10 НАЙШВИДЩИХ ЗМАГАНЬ У СЕЗОНІ:</h2>
        <table width="100%" align="center">
            <tr>
                <td>топ</td>
                <td>Дата</td>
                <td>Назва</td>
                <td>Місто</td>
                <td>Загальний час</td>
                <td>Кількість участників</td>
                <td>Переглянути</td>
            </tr>
            <tr th:each="competition, iter : ${competitions}">
                <td th:text="${iter.count}"/>
                <td th:text="${competition.competitionDate}"/>
                <td th:text="${competition.competitionName}"/>
                <td th:text="${competition.competitionCity}"/>
                <td th:text="${competition.sumLapsTime}"/>
                <td th:text="${competition.quantityDrivers}"/>
                <td><a th:attr="href='/competition/' + ${competition.competitionId} + '/general/result'">результат змагання</a></td>
            </tr>
        </table>
        <p> </p>
       <a href="/">На головну сторінку</a>
    </div>
</head>
<body>

</body>
</html>