<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/citySearch.css" rel="stylesheet" type="text/css"/>
    <link href="/css/buttons.css" rel="stylesheet" type="text/css"/>
    <title>Користувачі</title>
</head>
<body>
<h2 align="center">Зареєстровані користувачі:</h2>
<table width="30%">
    <tr th:each="user : ${users}">
        <th th:text="${user.username}"/>
        <th th:text="${user.role}"/>
        <th>
            <form th:id="${user.username}" th:method="post" th:action="@{|/user/${user.username}/delete|}">
                <input class="buttons" th:form="${user.username}" type="submit" value="видалити"/>
            </form>
        </th>
    </tr>
</table>
<p> </p>
<p> </p>
<a href="/">На головну</a>
</body>
</html>